*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.theme-buttons {
  margin: 16px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.theme-button {
  padding: 10px 20px;
  width: 90px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.theme-button:hover {
  color: white;
  background-color: #5f56a6;
}

.selected-button {
  background-color: #5f56a6;
  color: white;
  border-color: #5f56a6;
}
